<div class="container pt-4">

  <div class="search">
    <form class="form rounded">
      <div class="search-form">
        <div class="row align-items-center">
          <div class="col-sm-12 col-lg-5">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                name="inputOrigin"
                placeholder="Origen"
                [(ngModel)]="inputOrigin"
                maxlength="3"
                pattern="[A-Z]{0,3}"
                (input)="onInputChange()"
              />
              <label for="floatingInput">Origen</label>
            </div>
          </div>
          <div class="col-sm-12 col-lg-5">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                name="destination"
                placeholder="Destino"
                [(ngModel)]="inputDestination"
                maxlength="3"
                pattern="[A-Z]{0,3}"
                (input)="onInputChange()"
              />
              <label for="floatingInput">Destino</label>
            </div>
          </div>
          <div class="col-sm-12 col-lg-2">
            <button (click)="searchJourney()" class="rounded">Buscar vuelo</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>




