
.welcome-section { 
    text-align: center;
    padding: 16px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombreado con desplazamiento x, desplazamiento y y radio de difuminación */
}

.container {
  max-width: 85%;
  padding: auto;
  padding-bottom: 3%;
  text-align: center;
  background-color: #F5F5F7;
  border-radius: 30px;

}
