h1 {
  text-align: center; /* Centra el texto */
  color: #38384c; /* Cambia el color a azul */
}

.container {
  max-width: 85%;
  padding: auto;
  padding-bottom: 3%;
  text-align: center;
  background-color: #F5F5F7;
  border-radius: 30px;

}
